/*id用#去获取*/
.body{
    display: flex;
    justify-content: center;
}
/*通配符，代表所有的div，其它属性用div[属性名=]*/
.body > div {
      width:1000px;
}

.top{
     background-image: url("../img/banner_qtah.jpg");
    background-size: 100% 100%;
    height:  calc(1000 * 808px / 1920);
    color: white;
}

.top > div:nth-child(1) {
    /*border: 1px solid red;*/
    display: flex;
    justify-content: center;
}

.top > div:nth-child(1) > div {
    width: 900px;
    /*border: 1px solid blue;*/
    display: flex;
    justify-content: space-between;
}

.top > div:nth-child(1) > div > div {
    /*border: 1px solid yellow;*/
}
.top > div:nth-child(1) > div > div:nth-child(2) {
    display: flex;
    /*上下居中*/
    align-items: center;
}

/*灰色区域*/
.top > div:nth-child(1) > div > div:nth-child(2) > div {
    /*border: 1px solid gray;*/
}
.top > div:nth-child(1) > div > div:nth-child(1) {
    height: 141px;
}
.nav{
    display: flex;
    justify-content: center;
    background-color: rgb(230, 145, 55);
    height: 50px;
}
.nav > div {
    width: 900px;
    display: flex;
    align-items: center;
}
.nav > div > div {
   /* margin: 0 20px;*/
    padding: 0 20px;
    height: 50px;
    line-height: 50px;
}
.nav > div > div:hover {
    background-color: white;
    color: rgb(230, 145, 55);
    cursor: pointer;

}
.ad>div:nth-child(3){
   color: aqua;
}

/*
!*单行溢出*!
.single-over {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

!*多行溢出*!
.many-over {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    overflow: hidden;
}*/
