.head{
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid darkgray;
}
.head>div{
    display: flex;
    justify-items: center;

}
/*.head>div>div{  这是改变所有div
    margin: 5px;
}*/
.head>div:nth-child(1)>div:nth-child(1){
    margin-right: 10px;
    align-items: center;
}
.head>div:nth-child(1)>div:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
/*.head>div>div{
    display: flex;
    align-items: center;
}*/
.head>div:nth-child(1)>div:nth-child(3){
    border-left: 1px solid rgba(0, 0, 0, 0.17);
    margin: 10px 20px;
    height: 31px;
    display: flex;
    align-items: center;
}
.head>div:nth-child(1)>div:nth-child(4) {
    display: flex;
    align-items: center;
}

.head>div:nth-child(2){
    display: flex;
    justify-items: center;
    align-items: center;
}
.head>div:nth-child(2)>div{

    padding: 0 12px;
    height: 100%;
    display: flex;
    align-items: center;

}
.head>div:nth-child(2)>div:hover{
    background-color: #ef9062;
    /*text-decoration: underline;*/
    cursor: pointer;
}